# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*
.venv
.ruff_cache
.DS_Store

# misc
.coverage
coverage.xml
htmlcov/
.mypy_cache/


# Home Assistant configuration
config/*
!config/configuration.yaml
backup/*

